In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.pipeline import FeatureUnion
from sklearn.feature_selection import VarianceThreshold

In [3]:
df=pd.read_csv(r"C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IITM Stuff\diploma-LittleBeasty\dataset.csv")
# df.describe()
df

       V1    V2       V3    V4        V5 Target
0     2.0  50.0  12500.0  98.0  NEGATIVE    YES
1     0.0  13.0   3250.0  28.0  NEGATIVE    YES
2       ?     ?   4000.0  35.0  NEGATIVE    YES
3       ?  20.0   5000.0  45.0  NEGATIVE    YES
4     1.0  24.0   6000.0  77.0  NEGATIVE     NO
..    ...   ...      ...   ...       ...    ...
743  23.0   2.0    500.0  38.0  NEGATIVE     NO
744  21.0   2.0    500.0  52.0  NEGATIVE     NO
745  23.0   3.0    750.0  62.0  NEGATIVE     NO
746  39.0   1.0    250.0  39.0  NEGATIVE     NO
747  72.0   1.0    250.0  72.0  NEGATIVE     NO

[748 rows x 6 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      748 non-null    object
 1   V2      748 non-null    object
 2   V3      748 non-null    float64
 3   V4      748 non-null    float64
 4   V5      748 non-null    object
 5   Target  748 non-null    object
dtypes: float64(2), object(4)
memory usage: 35.2+ KB

In [5]:
sim=SimpleImputer(strategy='mean')
oe=OrdinalEncoder()
scale=StandardScaler()
fu=FeatureUnion([('sim',sim),('oe',oe),('scale',scale)])

feature1=df['V1'] #index 0
feature2=df['V2'] #index 1
feature3=df['V3'] #index 2
feature4=df['V4'] #index 3
feature5=df['V5'] #index 4

feature1 = pd.to_numeric(feature1, errors='coerce')
feature2 = pd.to_numeric(feature2, errors='coerce')
feature1 = sim.fit_transform(feature1.values.reshape(-1, 1))
feature2 = sim.fit_transform(feature2.values.reshape(-1, 1))

In [7]:
numeric_features = df[['V1', 'V2', 'V3', 'V4']].replace('?', np.nan)
numeric_features = sim.fit_transform(numeric_features)
numeric_features = scale.fit_transform(numeric_features)

categorical_features = oe.fit_transform(df[['V5']])

df_transformed = np.hstack((numeric_features, categorical_features))

In [9]:
df_transformed=pd.DataFrame(df_transformed,columns=['V1', 'V2', 'V3', 'V4', 'V5'])

In [10]:
df_transformed

           V1            V2        V3        V4   V5
0   -0.938169  7.709867e+00  7.623346  2.615633  0.0
1   -1.186278  1.304549e+00  1.282738 -0.257881  0.0
2    0.000000 -7.776462e-17  1.796842  0.029471  0.0
3    0.000000  2.516366e+00  2.482313  0.439973  0.0
4   -1.062223  3.208833e+00  3.167784  1.753579  0.0
..        ...           ...       ...       ...  ...
743  1.666966 -5.997340e-01 -0.602307  0.152621  0.0
744  1.418858 -5.997340e-01 -0.602307  0.727324  0.0
745  1.666966 -4.266173e-01 -0.430940  1.137826  0.0
746  3.651831 -7.728506e-01 -0.773675  0.193671  0.0
747  7.745616 -7.728506e-01 -0.773675  1.548328  0.0

[748 rows x 5 columns]

In [11]:
vt=VarianceThreshold(threshold=0.1)
df_transformed=vt.fit_transform(df_transformed)
df=pd.DataFrame(df_transformed)

In [12]:
df

            0             1         2         3
0   -0.938169  7.709867e+00  7.623346  2.615633
1   -1.186278  1.304549e+00  1.282738 -0.257881
2    0.000000 -7.776462e-17  1.796842  0.029471
3    0.000000  2.516366e+00  2.482313  0.439973
4   -1.062223  3.208833e+00  3.167784  1.753579
..        ...           ...       ...       ...
743  1.666966 -5.997340e-01 -0.602307  0.152621
744  1.418858 -5.997340e-01 -0.602307  0.727324
745  1.666966 -4.266173e-01 -0.430940  1.137826
746  3.651831 -7.728506e-01 -0.773675  0.193671
747  7.745616 -7.728506e-01 -0.773675  1.548328

[748 rows x 4 columns]