In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

In [11]:
df=pd.read_parquet('flights.parquet')
#df=df.dropna(ignore_index=True)
df

         DEPARTURE_DELAY  ARRIVAL_DELAY  DISTANCE  SCHEDULED_DEPARTURE
0                  -11.0          -22.0      1448             0.083333
1                   -8.0           -9.0      2330             0.166667
2                   -2.0            5.0      2296             0.333333
3                   -5.0           -9.0      2342             0.333333
4                   -1.0          -21.0      1448             0.416667
...                  ...            ...       ...                  ...
5819074             -4.0          -26.0      2611            23.983333
5819075             -4.0          -16.0      1617            23.983333
5819076             -9.0           -8.0      1598            23.983333
5819077             -6.0          -10.0      1189            23.983333
5819078             15.0            2.0      1576            23.983333

[5819079 rows x 4 columns]

In [12]:
df_filter = df[(df['DISTANCE'] < 2200) & (20.00 < df['SCHEDULED_DEPARTURE']) & (df['SCHEDULED_DEPARTURE'] <21.00)]
df_filter.isna().sum()
#df_filter = df_filter.dropna(ignore_index=True)

DEPARTURE_DELAY        4400
ARRIVAL_DELAY          5078
DISTANCE                  0
SCHEDULED_DEPARTURE       0
dtype: int64

df_filter.fillna(0, inplace=True)
df_filter.isna().sum()

In [13]:
df_group=df_filter.groupby('SCHEDULED_DEPARTURE').mean()
df_group

                     DEPARTURE_DELAY  ARRIVAL_DELAY    DISTANCE
SCHEDULED_DEPARTURE
20.016667                  12.619934       5.768871  627.958115
20.033333                  14.011468       8.971790  607.935268
20.050000                  12.739487       8.229938  600.324079
20.066667                  12.477770       7.002125  643.800964
20.083333                  15.195954       9.885973  755.060095
20.100000                  12.591723       7.486275  694.466994
20.116667                  13.143551       8.766667  596.135501
20.133333                  15.137743      10.950627  589.181887
20.150000                   9.771878       4.406111  630.118841
20.166667                  15.279753       9.977974  716.417491
20.183333                  12.637736       5.972665  687.935841
20.200000                  12.205479       7.020275  627.809388
20.216667                  11.638037       7.921026  750.088822
20.233333                  13.588532       7.912934  642.630569
20.250000                  13.790147       8.620741  731.782045
20.266667                  15.272023       7.780702  737.247664
20.283333                  11.412439       7.675410  636.454980
20.300000                  12.319349       8.338488  466.532164
20.316667                  13.328400       8.227660  756.053756
20.333333                  15.063393      10.595359  680.372101
20.350000                  12.009483       5.337943  586.951777
20.366667                  15.044386       9.079843  581.193916
20.383333                  13.661247       6.953741  527.235911
20.400000                  12.709302       7.690350  636.317671
20.416667                  17.480114      11.563174  755.497943
20.433333                  14.450286      10.073563  720.965208
20.450000                  13.127559       6.165354  537.255352
20.466667                  18.356628      12.804049  667.535439
20.483333                  17.467218      12.578813  647.183774
20.500000                  15.632353       9.771562  702.786790
20.516667                  15.111888      10.350140  687.825137
20.533333                  16.736134       9.718855  589.189406
20.550000                  17.626204      13.779497  793.951220
20.566667                  10.593487       5.281053  510.589796
20.583333                  17.036618      11.135394  733.864835
20.600000                  11.359788       6.478799  559.514630
20.616667                  21.674208      14.731597  803.194661
20.633333                  11.134063       4.440934  621.755020
20.650000                  10.950187       5.801746  498.032220
20.666667                  16.513088      10.970997  663.778578
20.683333                  14.095588      10.228614  522.549712
20.700000                  14.008145       9.398005  676.708816
20.716667                  15.544137       8.796565  567.058366
20.733333                  12.891845       8.055842  541.455305
20.750000                  16.288945      10.953456  671.877354
20.766667                  12.741019       7.600336  569.869458
20.783333                  13.184270      10.357303  665.877193
20.800000                  15.576552      10.427184  602.757085
20.816667                  12.406667       8.403010  766.219313
20.833333                  16.876890      10.838197  642.129852
20.850000                  16.794038      11.594576  572.438830
20.866667                  13.231102       8.851732  664.861407
20.883333                  15.235995       9.784689  559.732869
20.900000                  16.210385      10.530576  598.334806
20.916667                  14.435120       9.350662  654.026778
20.933333                  15.364964       9.386623  658.127172
20.950000                  14.890692      10.926850  560.363036
20.966667                  14.336788       9.293734  555.412054
20.983333                  17.593270      13.220550  717.775425

dip_delay with schedued_dep and arrival with scheduled_Dep.

pearson_correlation1, p_value = stats.pearsonr(df_filter['DEPARTURE_DELAY'], df_filter['ARRIVAL_DELAY'])
pearson_correlation2, p_value = stats.pearsonr(df['DEPARTURE_DELAY'], df['ARRIVAL_DELAY'])
abs(pearson_correlation1-pearson_correlation2)

In [14]:
q1 = df_filter['ARRIVAL_DELAY'].quantile(q=0.25)
q3 = df_filter['ARRIVAL_DELAY'].quantile(q=0.75)

In [15]:
iqr = q3 - q1
l_boundary = q1 - 1.5 * iqr
u_boundary = q3 + 1.5 * iqr
outliers = df_filter['ARRIVAL_DELAY'][(df_filter['ARRIVAL_DELAY'] < l_boundary) | (df_filter['ARRIVAL_DELAY'] > u_boundary)]
outliers.value_counts().sum()

19997

In [16]:
df2=pd.read_csv('house-rent.csv')
df2

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2022-05-18,2,15000,1000,3 out of 5,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner
4742,2022-05-15,3,29000,2000,1 out of 4,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner
4743,2022-07-10,3,35000,1750,3 out of 5,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent
4744,2022-07-06,3,45000,1500,23 out of 34,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent
4745,2022-05-04,2,15000,1000,4 out of 5,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner

### reg slope = cov(x,y)/var(x)

In [17]:
df_new = df2[(df2['City'] == 'Delhi') | (df2['City'] == 'Mumbai') & (df2['Furnishing Status'] == 'Furnished')]
cols=['City','Rent','Size','Furnishing Status']
df_new=df_new[cols]
print(df_new.isna().sum())
df_mumbi = df_new[df_new['City'] == 'Mumbai']
df_delhi = df_new[df_new['City'] == 'Delhi']
df_new.drop(df_new[df_new['Furnishing Status'] == 'Unfurnished'].index, inplace = True)
df_new.drop(df_new[df_new['Furnishing Status'] == 'Semi-Furnished'].index, inplace = True)
df_new

City                 0
Rent                 0
Size                 0
Furnishing Status    0
dtype: int64

        City   Rent  Size Furnishing Status
525   Mumbai  70000   750         Furnished
526   Mumbai  45000   450         Furnished
528   Mumbai  14000   640         Furnished
535   Mumbai  32000   500         Furnished
537   Mumbai  49000   620         Furnished
...      ...    ...   ...               ...
2966   Delhi  12500   450         Furnished
2969   Delhi   5000   300         Furnished
2971   Delhi  17000   550         Furnished
2972   Delhi  15000   900         Furnished
2978   Delhi   9000   100         Furnished

[336 rows x 4 columns]

In [18]:
b1=(df_mumbi['Rent'].cov(df_mumbi['Size']))/df_mumbi['Size'].var()
b2=df_delhi['Rent'].cov(df_delhi['Size'])/df_delhi['Size'].var()
abs(b1-b2)

109.06112187507304

In [21]:
df3=pd.read_parquet('est_hourly.parquet')
df3

,AEP,COMED,DAYTON,DEOK,DOM,DUQ,EKPC,FE,NI,PJME,PJMW,PJM_Load
Datetime,,,,,,,,,,,,
1998-12-31 01:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29309.0
1998-12-31 02:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28236.0
1998-12-31 03:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27692.0
1998-12-31 04:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27596.0
1998-12-31 05:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27888.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-01-01 20:00:00+00:00,21089.0,13858.0,2732.0,4426.0,18418.0,1962.0,2866.0,9378.0,NaN,44284.0,8401.0,NaN
2018-01-01 21:00:00+00:00,20999.0,13758.0,2724.0,4419.0,18567.0,1940.0,2846.0,9255.0,NaN,43751.0,8373.0,NaN
2018-01-01 22:00:00+00:00,20820.0,13627.0,2664.0,4355.0,18307.0,1891.0,2883.0,9044.0,NaN,42402.0,8238.0,NaN
2018-01-01 23:00:00+00:00,20415.0,13336.0,2614.0,4224.0,17814.0,1820.0,2880.0,8676.0,NaN,40164.0,7958.0,NaN
2018-01-02 00:00:00+00:00,19993.0,12816.0,2552.0,4100.0,17428.0,1721.0,2846.0,8393.0,NaN,38608.0,7691.0,NaN