In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv(r"C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IITM Stuff\diploma-LittleBeasty\MLP project\NPPE1_Preprocessing1.csv")
df

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,4.366543,1.159592,22.230240,1.146936,6.0,96.0,2.332414,6,403.809266,15.810504,354.065893,21.902957,16.375222,NO
3996,9.132894,0.294115,18.741019,0.876901,6.0,100.0,2.509486,24,666.000417,20.548310,394.997535,19.940826,9.565996,NO
3997,0.859468,21.201881,4.098201,1.142168,7.0,102.0,2.187747,7,264.067049,14.606753,392.096041,7.669832,30.106096,NO
3998,0.587681,45.399856,3.706238,1.719303,8.0,22.0,7.631113,6,398.613388,16.722867,378.734812,6.364646,37.403409,NO
3999,5.143827,0.000920,18.599543,0.864198,7.0,89.0,3.720523,24,666.587599,22.423092,392.552040,14.793550,20.204362,NO

In [3]:
print(np.array(df['PRICE']).mean())

24.355923220694248

In [4]:
df[df['RM'].astype(int) >= 5]

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE,RIVERSIDE
0,1.026769,1.429034,7.851300,1.134216,6.0,42.0,5.251911,5,279.201277,20.689586,398.811960,10.461456,22.991633,NO
1,0.848089,0.255543,6.263434,1.245993,7.0,63.0,4.305546,8,307.444529,17.465398,377.153649,11.619690,24.551055,NO
2,10.925905,0.441022,18.322960,2.824833,8.0,-2.0,2.409495,25,666.492973,20.351601,387.061355,19.366070,15.875346,NO
3,0.559027,1.041175,11.114920,0.794952,6.0,9.0,6.898669,4,305.514181,19.787314,391.778647,6.206820,23.007756,NO
4,0.905063,81.167963,3.673369,1.029030,8.0,20.0,10.246463,1,315.913960,17.360439,395.833166,10.827105,21.503177,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,4.366543,1.159592,22.230240,1.146936,6.0,96.0,2.332414,6,403.809266,15.810504,354.065893,21.902957,16.375222,NO
3996,9.132894,0.294115,18.741019,0.876901,6.0,100.0,2.509486,24,666.000417,20.548310,394.997535,19.940826,9.565996,NO
3997,0.859468,21.201881,4.098201,1.142168,7.0,102.0,2.187747,7,264.067049,14.606753,392.096041,7.669832,30.106096,NO
3998,0.587681,45.399856,3.706238,1.719303,8.0,22.0,7.631113,6,398.613388,16.722867,378.734812,6.364646,37.403409,NO
3999,5.143827,0.000920,18.599543,0.864198,7.0,89.0,3.720523,24,666.587599,22.423092,392.552040,14.793550,20.204362,NO

In [5]:
top_10_prices = df['PRICE'].nlargest(10).mean()

In [6]:
print(top_10_prices)
# 53.09025591497753 from the logic.

52.36590175716407

In [7]:
df.isna().sum()

CRIM            0
ZN              0
INDUS           0
POLINDEX        0
RM              0
AGE             0
DIS             0
HIGHWAYCOUNT    0
TAX             0
PTRATIO         0
IMM             0
BPL             0
PRICE           0
RIVERSIDE       0
dtype: int64

In [8]:
group=df.groupby('RIVERSIDE').count()
group

,CRIM,ZN,INDUS,POLINDEX,RM,AGE,DIS,HIGHWAYCOUNT,TAX,PTRATIO,IMM,BPL,PRICE
RIVERSIDE,,,,,,,,,,,,,
NO,3595,3595,3595,3595,3595,3595,3595,3595,3595,3595,3595,3595,3595
UNKNOWN,88,88,88,88,88,88,88,88,88,88,88,88,88
YES,317,317,317,317,317,317,317,317,317,317,317,317,317

In [9]:
len(df[(df['HIGHWAYCOUNT'] == 6) | (df['HIGHWAYCOUNT'] == 7) | (df['HIGHWAYCOUNT'] == 8)])
# brackets are imp

1211

In [10]:
len(df[(df['AGE'] <= 50) & (df['RIVERSIDE'].str.contains('YES'))])

53

In [11]:
df['CATEGORY'] = df.apply(lambda x: 1 if x['PRICE'] < 10 else (2 if 10 <= x['PRICE'] < 20 else (3 if 20 <= x['PRICE'] < 30 else (4 if 30 <= x['PRICE'] < 40 else 5))), axis=1)

In [12]:
group = df.groupby('CATEGORY').size()
# max_category = group.idxmax()

In [13]:
# Assuming 'PRICE' is the target variable
df=df.drop('CATEGORY',axis=1)
X = df.drop('PRICE', axis=1)
y = df['PRICE']

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [14]:
group

CATEGORY
1      43
2    1158
3    2028
4     503
5     268
dtype: int64

In [16]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# df.drop('CATEGORY', axis=1, inplace=True)
# Create individual pipelines for RM, AGE, and RIVERSIDE since they need both imputation and scaling/encoding
rm_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', MinMaxScaler())
])

age_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', MinMaxScaler())
])

riverside_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder())
])

# Column transformer to apply appropriate transformations to each column
col_transform = ColumnTransformer([
    ('CRIM', MinMaxScaler(), ['CRIM']),
    ('ZN', MinMaxScaler(), ['ZN']),
    ('INDUS', StandardScaler(), ['INDUS']),
    ('POLINDEX', MinMaxScaler(), ['POLINDEX']),
    ('DIS', MinMaxScaler(), ['DIS']),
    ('HIGHWAYCOUNT', MinMaxScaler(), ['HIGHWAYCOUNT']),
    ('TAX', MinMaxScaler(), ['TAX']),
    ('PTRATIO', MinMaxScaler(), ['PTRATIO']),
    ('IMM', MinMaxScaler(), ['IMM']),
    ('BPL', MinMaxScaler(), ['BPL']),
    ('RM', rm_pipeline, ['RM']),
    ('AGE', age_pipeline, ['AGE']),
    ('RIVERSIDE', riverside_pipeline, ['RIVERSIDE'])
])

# Apply the column transformer to the dataframe
df_transformed = col_transform.fit_transform(x_train)
df_transformed.shape

(2800, 15)

In [17]:
df_transformed.mean()

np.float64(0.37356184743463267)

#

In [2]:
# model building
model_df=pd.read_csv(r"C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IITM Stuff\diploma-LittleBeasty\MLP project\NPPE1_ModelBuilding3.csv")
y=model_df['14']
x=model_df.drop('14',axis=1)
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
from sklearn.metrics import r2_score
from sklearn.linear_model import Ridge
rc=Ridge(alpha=10,solver='saga',tol=1e-4,random_state=42)
rc.fit(X_train,y_train)
y_pred=rc.predict(X_test)
print(r2_score(y_test,y_pred))
# What is the index of most important feature? Note the index starts from 0. Ignore the intercept for this question.
# most important feature is the one with the highest absolute value of the coefficient
# printing the most important feature
print(np.argmax(np.abs(rc.coef_)))
# the least imp feature 
print(np.argmin(np.abs(rc.coef_)))

0.6613547575262211
9
0

In [3]:
model_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.087472,0.002829,1.768235,0.188396,0.117071,0.148148,0.478165,0.720443,0.967195,0.281563,0.428571,0.959596,1.0,0.0,23.358097
1,0.378379,0.022079,1.115629,0.091974,0.066089,0.851852,0.911759,0.785321,0.885001,0.424648,0.285714,0.868687,0.0,1.0,17.268768
2,0.066901,0.003828,-0.536262,0.221188,0.255671,0.296296,0.228024,0.406472,0.980184,0.274376,0.428571,0.767677,0.0,1.0,27.776974
3,0.140645,0.011132,1.323366,0.422514,0.153103,0.148148,0.410679,0.200319,0.861371,0.305006,0.142857,0.848485,0.0,1.0,16.121960
4,0.144225,0.204918,-0.930790,0.148694,0.177490,0.259259,0.146832,0.111429,0.983448,0.286322,0.285714,0.616162,1.0,0.0,23.129426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,0.127577,0.752579,-1.094105,0.211838,0.359602,0.148148,0.123572,0.530956,0.989831,0.111832,0.571429,0.181818,1.0,0.0,32.086286
3996,0.077051,0.005002,-0.191383,0.480423,0.119767,0.185185,0.388834,0.572079,0.994367,0.350004,0.285714,0.393939,1.0,0.0,25.303902
3997,0.086530,0.817630,-1.144875,0.162531,0.435076,0.074074,0.309478,0.229333,0.991966,0.056595,0.571429,0.141414,1.0,0.0,43.984177
3998,0.182503,0.016436,-0.162302,0.269231,0.359110,0.185185,0.224930,0.516934,0.979605,0.517812,0.428571,0.623289,1.0,0.0,18.419660
3999,0.045044,0.012405,2.555294,0.068771,0.099908,0.222222,0.999837,0.640547,0.995184,0.379420,0.285714,0.808081,1.0,0.0,20.772547

In [ ]:
# import GridSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import SGDRegressor

model=SGDRegressor(random_state=42)
alpha=[1e-5, 1e-4, 1e-3, 1e-2, 1e-1]
tol=[1e-4, 1e-3, 1e-2, 1e-1]
cv=5
scoring='neg_mean_absolute_error'
param_grid=dict(alpha=alpha,tol=tol)
grid=GridSearchCV(estimator=model,param_grid=param_grid,scoring=scoring,cv=cv)
grid_result=grid.fit(X_train,y_train)
print('Best Score: ', grid_result.best_score_)
print('Best Params: ', grid_result.best_params_)  
print('best penalty: ',grid_result.best_estimator_.penalty)

Best Score:  -3.7521820163713295
Best Params:  {'alpha': 0.001, 'tol': 0.0001}
best penalty:  l2

In [6]:
# scoring on the test data
from sklearn.metrics import mean_absolute_error
y_pred=grid_result.predict(X_test)
print(mean_absolute_error(y_test,y_pred))

3.8131121797994014

In [17]:
# from sklearn.linear_model import Lasso
# from sklearn.preprocessing import PrincipalComponentAnalysis as PCA
from sklearn.decomposition import PCA
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import Lasso
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

In [10]:
pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('pca', PCA()),
    ('lasso', Lasso())
])
param_grid = {
    'pca__n_components': [0.9, 0.95],
    'lasso__alpha': [10, 1, 0.01, 0.001]
}
grid_search = GridSearchCV(pipeline, param_grid, 
                           scoring='neg_mean_absolute_error', 
                           cv=5, 
                           n_jobs=-1)
grid_search.fit(X_train, y_train)

best_model = grid_search.best_estimator_

y_pred = best_model.predict(X_test)

r2 = r2_score(y_test, y_pred)

print(f"R2 score on the test dataset: {r2:.4f}")
# explained variance from above 
explained_variance = best_model.named_steps['pca'].explained_variance_ratio_.sum()
print(f"Explained variance: {explained_variance:.4f}")

R2 score on the test dataset: 0.6561
Explained variance: 0.9656

In [15]:
reg_pipeline = Pipeline([
    ('transformer', PolynomialFeatures(degree=2, interaction_only=False)),
    ('estimator', Lasso(alpha=1, warm_start=True, random_state=0))
])
reg_pipeline.fit(X_train, y_train)
y_pred = reg_pipeline.predict(X_test)
r2 = r2_score(y_test, y_pred)
print(r2)

0.157678032410551

In [18]:
model = LinearRegression()  
rfe = RFE(model, n_features_to_select=X_train.shape[1] - 1)
rfe.fit(X_train, y_train)

eliminated_feature_index = rfe.support_.tolist().index(False)
print(eliminated_feature_index)

2