In [16]:
import pandas as pd
import numpy as np

In [17]:
df=pd.read_csv(r"C:\Users\vvagh\OneDrive - Indian Institute of Science Education and Research Bhopal\Documents\IITM Stuff\V5.csv")
df.shape

(10000, 12)

In [18]:
df[df.eq('?').any(axis=1)]
df.replace('?',np.nan,inplace=True)

In [19]:
df.iloc[510,3]

np.float64(798070.0)

In [20]:
def count_nans_in_row(df,thresh=0):
    count=0
    for i in range(df.shape[0]):
        if df.iloc[i].isnull().sum()>thresh:
            count+=1
    return count

print(df.shape[0]-count_nans_in_row(df,2))

9917

In [21]:
odd_indices=[i for i in range(df.shape[0]) if i%2!=0]
df_odd=df.iloc[odd_indices]
df_odd.iloc[100,5]

'Single Family'

In [22]:
even_indices=[i for i in range(df.shape[0]) if i%2==0]
df_even=df.iloc[even_indices]
df_even.iloc[255,5]

'Single Family'

In [23]:
df

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,NaN,Detached House,3,2,1092.0,1.025953,East
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2022-09-30,2022,Bridgeport,153660.0,322000.0,NaN,Detached House,3,3,917.0,1.003979,North
9996,2022-09-30,2022,Bridgeport,109820.0,340000.0,NaN,Duplex,4,4,1416.0,1.003979,North
9997,2022-09-30,2022,Waterbury,83210.0,170000.0,Single Family,Detached House,3,1,964.0,1.003979,South
9998,2022-09-30,2022,NaN,216420.0,415000.0,Single Family,Detached House,3,3,1014.0,1.003979,North
9999,2022-09-30,2022,Norwalk,154920.0,196000.0,Single Family,Detached House,3,1,932.0,1.003979,East

In [24]:
def count_bath_and_rooms(df, n_b, n_r):
    count_bath = 0
    count_rooms = 0
    for i in range(df.shape[0]):
        if df.iloc[i, 8] > n_b or df.iloc[i, 7] > n_r:
            count_bath += 1
            count_rooms += 1
    return count_bath, count_rooms

count_bath_and_rooms(df, 3, 3)

(1712, 1712)

In [25]:
df_2022=df[df['Year']==2022]
houses=0
loc='Greenwich'
n_r=3
# facing north or east.
for i in range(df_2022.shape[0]):
    if (df_2022.iloc[i, 2]==loc) and (df_2022.iloc[i, 7]==n_r) and (df_2022.iloc[i, 9]=='North' or df_2022.iloc[i, 9]=='East'):
        houses+=1
houses

0

In [26]:
reg_expression='^\d{4}-08-\d{2}$'
df_aug=df[df['Date'].str.match(reg_expression)]
df_aug.shape[0]

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\vvagh\AppData\Local\Temp\ipykernel_10488\1850056445.py:1: SyntaxWarning: invalid escape sequence '\d'
  reg_expression='^\d{4}-08-\d{2}$'

1050

In [27]:
df.groupby('Locality')['Sale Price'].mean().idxmax()

'Greenwich'